"{{ item.path }}" {
  {% for option in item.options -%}
  {{ option }}
  {% endfor -%}
  {%- if item.scripts is defined -%}
  {%- for name, script in item.scripts.iteritems() -%}
  {{ name }}
    {{ script }}
  endscript
  {% endfor -%}
  {% endif -%}
}
