# {{ ansible_managed }}
{% if item.path is iterable and not item.path is string -%}
{{ item.path | join(" ") }} {
{%- else -%}
"{{ item.path }}" {
{%- endif %}
  {% if item.options is defined -%}
  {% for option in item.options -%}
  {{ option }}
  {% endfor -%}
  {% endif %}
  {%- if item.scripts is defined -%}
  {%- for name, script in item.scripts.iteritems() -%}
  {{ name }}
    {{ script }}
  endscript
  {% endfor -%}
  {% endif -%}
}
